::ng-deep .privacy-policy-text {
  padding: 10px 0;
  .description {
    text-align: justify;
    &.bold {
      margin: 8px 0;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.0125em;
    }
  }
  .title {
    margin: 5px 0;
  }
  ul {
    padding-left: 26px;
    list-style-type: disc;
  }
}
