<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Баланс</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>Ваша карта</ion-card-header>
    <ion-card-content>
      <ion-img [src]="'data:image/jpeg;base64,' + user.barcode"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Баланс</ion-card-header>
    <ion-card-content>
      <ion-card-title [innerText]="user.data.balance"></ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>Последние операции</ion-list-header>
    <ion-item>Отправлено приглашение</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
    <ion-item>Начислены баллы</ion-item>
  </ion-list>
</ion-content>
