<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Баланс</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-icon name="card-outline"></ion-icon>
      Ваша карта
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="'data:image/jpeg;base64,' + user.barcode"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="wallet-outline"></ion-icon>
      Баланс
    </ion-card-header>
    <ion-card-content>
      <ion-card-title [innerText]="user.data.balance"></ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>Последние операции</ion-list-header>
    <ion-item *ngFor="let history of userHistory$ | async">
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3 [innerText]="history.value"></h3>
        </ion-text>
        <p [innerText]="history.message"></p>
        <ion-text>
          <p [innerText]="moment(history.date).format('DD.MM.YYYY')"></p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
